

body {
  background: #DBDDE4;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Top Menu **/

nav.top-bar ul li a > i {
  padding-right: 24px;
}

nav.top-bar ul li:not(.has-form):not(.active) a:not(.button):hover {
  /* box-shadow: inset 0px 1px 6px #000; */
  background: #222 !important;
}

nav.top-bar ul.title-area li.name h1 a {
  font-weight: 700;
  font-size: 1.2em;
  font-family: SansPro, Junction;
  min-width: 114px;
}

nav.top-bar ul.title-area li.name h1 a span.lighter {
  font-size: inherit;
  font-weight: 300;
}

nav.top-bar ul.title-area li.name {
  margin-right: -3px;
}

nav.top-bar ul.title-area li.crumb {
  height: 2.8125rem;
  line-height: 2.8125rem;
  margin-left: 0;
  color: #fff;
}

nav.top-bar ul.title-area li.crumb:before {
  content: '>';
  color: #bbb;
  padding-left: 3px;
}

nav.top-bar ul.title-area li.crumb > a,
nav.top-bar ul.title-area li.crumb > span {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav.top-bar ul.title-area li.crumb > a {
  color: #ccc;
}

nav.top-bar ul.title-area li.crumb > a:hover {
  color: #fff;
}



/** Subheader (Messages, Notices, etc.) **/

div.main-subheader {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fff;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

div.main-subheader ul {
  margin-bottom: 5px;
  font-size: 0.875em;
}

div.main-subheader.confirmation {
  background-color: rgb(112, 211, 112);
}

div.main-subheader.warning {
  background-color: rgb(255, 168, 114);
  border-bottom: 4px solid rgb(255, 145, 112);
}

div.main-subheader > h4 {
  margin: 4px 0 0;
}



/** Footer **/

footer {
  background: #d0d0d0;
  padding: 11px 0 9px;
}

footer > div {
  font-size: 0.87em;
}

footer ul.inline-list {
  margin-bottom: 0;
}



/** Common Elements' Styling **/

div.main-body > .main-content.row {
  padding-top: 17px;
  padding-bottom: 17px;
}

.section-header {
  border-bottom: 1px dotted #888;
  padding-bottom: 2px;
}

.section-header > .ext {
  font-weight: 100;
}

/* responsive edits */
@media screen and (max-width: 1025px){
  div.main-body > div.main-content.row div.columns:not(:first-child) > .section-header {
    margin-top: 11px;
  }
}

/** Title Select Dropdowns **/

h4#main_issues_title a#sorted_by_title ,
h4#main_issues_title a#scale_title  { 
  color: #222; 
}
h4#main_issues_title a#sorted_by_title:hover,
h4#main_issues_title a#scale_title:hover  { 
  color: #000; 
}

h4#main_issues_title a#sorted_by_title:after,
h4#main_issues_title a#scale_title:after  { 
  font-family: FontAwesome;
  content: " \f0dd"; 
  padding: 0 3px;
  font-size: .875em;
}

h4#main_issues_title a#sorted_by_title:hover,
h4#main_issues_title a#scale_title:hover  { 
  opacity: 0.5;
}

ul.issues-title-dropdown.f-dropdown {
  background: #333;
  border-color: #222;
  margin-top: 15px;
}

ul.issues-title-dropdown.f-dropdown:before {
  border-bottom-color: #333;
}

ul.issues-title-dropdown.f-dropdown li a {
  color: #eee;
}

ul.issues-title-dropdown.f-dropdown li.secondary a {
  /* padding-left: 1rem; */
  font-size: 0.875em;
}

ul.issues-title-dropdown.f-dropdown li.secondary a:before {
  content: "+";
  font-family: FontAwesome;
  padding: 0 8px 0 16px;
  font-size: 0.875em;
}

ul.issues-title-dropdown.f-dropdown li a > span.light {
  opacity: 0.45;
}

ul.issues-title-dropdown.f-dropdown li a > i.fa {
  margin-right: 8px;
  font-size: 0.95em;
  font-size: 0.875em;
}

ul.issues-title-dropdown.f-dropdown li:hover{
  background-color: #555;
}

ul.issues-title-dropdown li.active {
  background-color: #2a2a2a;
}

ul.issues-title-dropdown li.active a:after  { 
  font-family: FontAwesome;
  content: " \f00c"; 
  padding: 0 3px;
  font-size: .875em;
  float: right;
}

/** Issues Row **/

div.large-1 {
    padding-right: 0;
}

/** Issues Search **/

#search_issues_row {
  margin: 0.75rem 0;
}

#search_issues_row form a.button {
  margin: 0;
}

#search_issues_row .search-icon-container i {
  font-size: 24px;
  padding-top: 5px;
}

#search_issues_row .result-title {
  margin: 12px 0 0;
  padding-top: 12px;
  border-top: 1px dotted #888;
}

#search_issues_row .search-results.container {
  border-bottom: 1px dotted #888;
  padding-bottom: 8px;
}

#search_issues_row .search-results.container h6.error {

}

#search_issues_row.no-results .result-title,
#search_issues_row.no-results .search-results.container {
  display: none;
}

#search_issues_row form#search_issues input {
  margin: 0;
}

/* Issues */

.issue.listview {
  margin-top: 6px;
  margin-bottom: 6px;
}

.issue.listview.content-container,
.issue.listview .content-container {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  border-radius: 5px;
  padding: 0;
}

.issue.listview.content-container > *,
.issue.listview .content-container > * {
  padding-left: 12px;
  padding-right: 12px;
}

.issue.listview.content-container > :first-child,
.issue.listview .content-container > :first-child {
  padding-top: 7px;
}

.issue.listview.content-container > :last-child, 
.issue.listview .content-container > :last-child {
  padding-bottom: 7px;
}


.issue.listview h5.issue-title {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 3px;
  line-height: 32px;
}

.issue.listview h5.issue-title > .open-icon,
.issue.listview h5.issue-title > .subscribe-icon {
  float: right;
  opacity: 0.3;
  line-height: inherit;
  margin-top: -1px;
}

.issue.listview h5.issue-title > .open-icon {
  margin-right: 0;
}

.issue.listview h5.issue-title > .subscribe-icon {
  margin-left: 2px;
  margin-right: 2px;
}

.issue.listview h5.issue-title > .subscribe-icon.subscribed {
  opacity: 1;
  color: rgb(239, 109, 0);
}

.issue.listview h5.issue-title > .open-icon:hover,
.issue.listview h5.issue-title > .subscribe-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.issue.listview h5.issue-title > .subscribe-icon:hover:before {
  content: "\f005";
  color: rgb(239, 109, 0);
}

.issue.listview h5.issue-title > .subscribe-icon.subscribed:hover:before {
  content: "\f006";
  color: #000;
}

.issue.listview div.description {
  padding-top: 6px;
  border-top: 1px solid #eee;
}
