

body {
  background: #DBDDE4;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Top Menu **/

.top-bar { 
  /* background: #4f4f4f !important; */
  /* background: #094257 !important; */
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  background: #2A424A !important;
  
  /* border-bottom: .1875rem solid #0E171A; */
  /* height: 3rem; */ /** 3 - .1875 = 2.8125rem orig height **/

}

.top-bar-section ul li,
.top-bar-section ul li .dropdown  {
  background: #2A424A;
}

nav.top-bar ul li a > i {
  padding-right: 24px;
}

nav.top-bar ul.title-area li.name h1 a {
  font-weight: 700;
  font-size: 1.2em;
  font-family: SansPro, Junction;
  min-width: 114px;
}

nav.top-bar ul.title-area li.name h1 a span.lighter {
  font-size: inherit;
  font-weight: 300;
}

nav.top-bar ul.title-area li.name {
  margin-right: -3px;
}

nav.top-bar ul.title-area li.crumb {
  height: 2.8125rem;
  line-height: 2.8125rem;
  margin-left: 0;
  color: #fff;
}

nav.top-bar ul.title-area li.crumb:before {
  content: '>';
  color: #bbb;
  padding-left: 3px;
}

nav.top-bar ul.title-area li.crumb > a,
nav.top-bar ul.title-area li.crumb > span {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav.top-bar ul.title-area li.crumb > a {
  color: #ccc;
}

nav.top-bar ul.title-area li.crumb > a:hover {
  color: #fff;
}



/** Subheader (Messages, Notices, etc.) **/

div.main-subheader {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fff;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

div.main-subheader.alert-box {
  color: #000;
  border: none;
  margin-bottom: 5px;
}

div.main-subheader ul {
  margin-bottom: 5px;
  font-size: 0.875em;
}

div.main-subheader.confirmation {
  background-color: rgb(112, 211, 112);
}

div.main-subheader.warning {
  background-color: rgb(255, 168, 114);
  border-bottom: 4px solid rgb(255, 145, 112);
}

div.main-subheader > h4 {
  margin: 4px 0 0;
}



/** Footer **/

footer {
  /* background: #d0d0d0; */
  padding: 11px 0 9px;
}

footer > div {
  font-size: 0.87em;
}

footer ul.inline-list {
  margin-bottom: 0;
}



/** Common Elements' Styling **/

div.main-body > .main-content.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-header {
  border-bottom: 1px dotted #888;
  padding-bottom: 2px;
}

h1 > .ext, h2 > .ext, h3 > .ext,
h4 > .ext, h5 > .ext, h6 > .ext {
  font-weight: 100;
}

hr.smaller {
  border-color: #ccc;
  margin: 10px 0 12px;
}

/* responsive edits */
@media screen and (max-width: 1025px){
  div.main-body > div.main-content.row div.columns:not(:first-child) > .section-header {
    margin-top: 11px;
  }
}

/** Title Select Dropdowns **/

h1 a[data-dropdown], h2 a[data-dropdown], h3 a[data-dropdown],
h4 a[data-dropdown], h5 a[data-dropdown], h6 a[data-dropdown] {
  color: #222; 
  padding-top: 6px;
  display: inline;
}

h1 a[data-dropdown]:after , h2 a[data-dropdown]:after , h3 a[data-dropdown]:after ,
h4 a[data-dropdown]:after , h5 a[data-dropdown]:after , h6 a[data-dropdown]:after  { 
  font-family: FontAwesome;
  content: " \f0dd"; 
  padding: 0 3px;
  font-size: .875em;
}

h1 a[data-dropdown]:hover, h2 a[data-dropdown]:hover, h3 a[data-dropdown]:hover,
h4 a[data-dropdown]:hover, h5 a[data-dropdown]:hover, h6 a[data-dropdown]:hover  { 
  opacity: 0.5;
}

h1 a[data-dropdown] > i.fa-fw:first-child, h2 a[data-dropdown] > i.fa-fw:first-child , h3 a[data-dropdown] > i.fa-fw:first-child ,
h4 a[data-dropdown] > i.fa-fw:first-child , h5 a[data-dropdown] > i.fa-fw:first-child , h6 a[data-dropdown] > i.fa-fw:first-child  {
  margin-right: 5px;
}

ul.issues-title-dropdown.f-dropdown {
  background: #333;
  border-color: #222;
  margin-top: 15px;
}

ul.issues-title-dropdown.f-dropdown:before {
  border-bottom-color: #333;
}

ul.issues-title-dropdown.f-dropdown li > * {
  color: #eee;
  padding: 0.5rem;
  display: block;
}

ul.issues-title-dropdown.f-dropdown li > *.disabled {
  color: #999;
  cursor: default;
}

ul.issues-title-dropdown.f-dropdown li.secondary > * {
  /* padding-left: 1rem; */
  font-size: 0.875em;
}

ul.issues-title-dropdown.f-dropdown li.secondary > *:before {
  content: "+";
  font-family: FontAwesome;
  padding: 0 8px 0 16px;
  font-size: 0.875em;
}

ul.issues-title-dropdown.f-dropdown li > * > span.light {
  opacity: 0.45;
}

ul.issues-title-dropdown.f-dropdown li > * > i.fa {
  margin-right: 8px;
  font-size: 0.95em;
  font-size: 0.875em;
}

ul.issues-title-dropdown.f-dropdown li:hover{
  background-color: #555;
}

ul.issues-title-dropdown li.active {
  background-color: #2a2a2a;
}

ul.issues-title-dropdown li.active > *:after  { 
  font-family: FontAwesome;
  content: " \f00c"; 
  padding: 0 3px;
  font-size: .875em;
  float: right;
}

/** Issues Row **/

.issue.listview div.large-1,
#search_issues_row div.large-1 {
    padding-right: 0;
}

/** Issues Search **/

#search_issues_row {
  margin: 0.75rem 0;
}

#search_issues_row form a.button {
  margin: 0;
  background-color: #C4C8D3;
  background-color: rgba(0,0,0,0.075);
}

#search_issues_row form a.button:hover {
  margin: 0;
  background-color: #B6BAC5;
  background-color: rgba(0,0,0,0.15);
}

#search_issues_row .search-icon-container i {
  font-size: 24px;
  padding-top: 5px;
}

#search_issues_row .result-title {
  margin: 0.75rem 0 0;
  padding-top: 15px;
  border-top: 1px dotted #888;
}

#search_issues_row .search-results.container {
  border-bottom: 1px dotted #888;
  padding-bottom: 10px;
}

#search_issues_row .search-results.container h6.error {
  margin-bottom: 2px;
}

#search_issues_row .create-new-issue {
  padding: 10px 0 0;
}

#search_issues_row .create-new-issue > h6 {
  margin-bottom: 10px;
}

#search_issues_row .create-new-issue a.button {
  margin-bottom: 0;
  margin-top: 0;
}

#search_issues_row.no-results .result-title,
#search_issues_row.no-results .search-results.container,
#search_issues_row.no-results .create-new-issue {
  display: none;
}

#search_issues_row form#search_issues input {
  margin: 0;
}

/* Issues */

.issue .issue-title  .subscribe-icon.subscribed {
  opacity: 1 !important;
  color: rgb(239, 109, 0);
}

.issue .open-icon:hover,
.issue .issue-title .subscribe-icon:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.issue .issue-title  .subscribe-icon:hover:before {
  content: "\f005";
  color: rgb(239, 109, 0);
}

.issue .issue-title  .subscribe-icon.subscribed:hover:before {
  content: "\f006";
  color: #000;
}

body.in-search div#main_issues {
  display: none;
}

/** Issues Listview **/

.issue.listview {
  margin-top: 8px;
  margin-bottom: 8px;
}
.issue.listview.min {
  margin-top: 6px;
  margin-bottom: 6px;
}

.issue.listview.content-container,
.issue.listview .content-container {
  background: #fcfcfc;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.25);
  /* border-radius: 3px; */
  padding: 0;
}

.issue.listview.content-container > *,
.issue.listview .content-container > * {
  padding-left: 12px;
  padding-right: 12px;
}

.issue.listview.content-container > :first-child,
.issue.listview .content-container > :first-child {
  padding-top: 7px;
}

.issue.listview.content-container > :last-child, 
.issue.listview .content-container > :last-child {
  padding-bottom: 7px;
}


.issue.listview h5.issue-title {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 3px;
  line-height: 32px;
}
.issue.listview h5.issue-title > a.title {
    color: #222;
}

.issue.listview h5.issue-title > a.title:after {
  content: "\f054";
  font-family: FontAwesome;
  margin: -5px 9px 0;
  display: inline-block;
  font-size: .875em;
  visibility: hidden;
}

.issue.listview h5.issue-title > a.title:hover:after {
  visibility: visible;
}

.issue.listview .issue-title .open-icon,
.issue.listview .issue-title .subscribe-icon {
  float: right;
  opacity: 0.3;
  line-height: 1.875em;
  margin-top: -1px;
}

.issue.listview h5.issue-title > .open-icon {
  margin-right: 0;
}

.issue.listview h5.issue-title > .subscribe-icon {
  margin-left: 2px;
  margin-right: 2px;
}

.issue.listview div.description {
  padding-top: 6px;
  border-top: 1px solid #eee;
}

/** Issues Big **/

.issue.full span.icons {
  font-size: 24px !important;
  padding-top: 10px;
  display: inline-block;
  float: right;
}

.issue.full .issue-title {
  padding: 3px 0 6px;
}

.issue.full.editing .issue-title {
  padding: 0 0 6px;
}

.issue.full.editing input,
.issue.full.editing textarea {
  margin-top: 5px;
}

.issue.full .subscribe-icon {
  opacity: 0.25;
}

.issue.full span.icons .loader-icon {
  font-size: 21px;
}

.issue.full .description {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 1.0725rem;
}

.issue.full .description-title {
  margin-top: 5px;
  margin-bottom: 0;
}

.issue.full  .description-dropdown-icon-container {
  padding-right: 20px;
  padding-bottom: 9px;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.issue.full .page:not(.button):not(button) {
  background-color: #f4f4f4;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.25);
}

.issue.full .page.content-container {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* box-shadow: 0 0 2px rgba(0,0,0,0.25); */
  margin-top: 9px;
}

.issue.full article.body {
  transition: margin .4s linear;
}

.issue.full article.body h1, .issue.full article.body h2,
.issue.full article.body h3, .issue.full article.body h4,
.issue.full article.body h5, .issue.full article.body h6 {
  font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  margin-top: 0;
}

.issue.full article.body h1 { font-size: 2.725em; }
.issue.full article.body h2 { font-size: 2.2em; /* margin-bottom: 0; */ }
.issue.full article.body h3 { /* margin-bottom: 0; */ }

.issue.full .issue-footer-row {
  padding-top: 10px;
  padding-bottom: 12px;
}

.issue.full .issue-footer-row .columns i {
  font-size: 1.25em;
}

.issue.full.editing .issue-footer-row a.button,
.issue.full.editing .issue-footer-row button {
  margin-bottom: 10px;
}

.stats-container span.visibility-icon {
  padding: 0 0 0 5px;
  border-left: 1px solid #333;
  margin-left: 6px;
}

.issue.full .info-aside.large-4 {
  padding-top: 9px;
}

.issue.full .voting-row.row {
  margin-bottom: 20px;
}

.issue.full .voting-row a.button.vote-option {
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 12px;
}

.issue.full .voting-row.row .columns:not(:last-child){
  border-right: 1px solid rgba(0,0,0,0.1);
}

.issue.full .voting-row.row .columns h2 {
  opacity: 0.5;
}

.issue.full .voting-row.row .columns.secondary h2 {
  opacity: 0.2;
}

.issue.full .voting-row.row .columns .vote-option:not(.disabled):hover {
  background-color: #e2e2e2;
}

.issue.full .voting-row.row .columns .vote-option.active h2 {
  opacity: 1;
  color: rgb(239, 109, 0);
}

.issue.full.editing:not(.preview-exists) .preview-body-container,
.issue.full.editing:not(.preview-exists) .preview-heading {
  display: none;
}