div.main-content.row .left-guest-side img.primary {
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
}

/** Older **/

/**

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4 {
  height: 421px;
  padding-bottom: 5px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story:last-child .medium-4 {
  height: 488px;
  padding-bottom: 2px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4:not(:first-child) {
  border-left: 1px dotted #ccc;
}

div.main-content.row .left-guest-side div.constituents-coalition-story:not(:first-child) .medium-4 {
  border-top: 1px dotted #ccc;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4 img {
  display: block;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4 > span {
  display: block;
  padding: 8px 10px 3px;
  font-size: 0.875rem;
  border-top: 1px solid #a2a2a2;
}

**/

div.main-content.row .left-guest-side div.constituents-coalition-story .slick-list {
  transition: height 0.5s;
  height: 520px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .slick-arrow {
  font-size: 2.6rem;
  position: absolute;
  z-index: 10;
  top: -48px;
  text-align: center;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #fff;
  /* background: rgba(255,255,255,0.5); */
  color: #555;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .slick-arrow:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .slick-arrow.previous {
  left: -18px;
  border-radius: 0 50% 50% 0;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .slick-arrow.next {
  right: -18px;
  border-radius: 50% 0 0 50%;
}

@media screen and (min-width: 1800px){

    div.main-content.row .left-guest-side div.constituents-coalition-story .slick-arrow.previous {
      left: -80px;
      border-radius: 50% 0 0 50%;
      top: 50%;
      margin-top: -30px;
    }

    div.main-content.row .left-guest-side div.constituents-coalition-story .slick-arrow.next {
      right: -80px;
      border-radius: 0 50% 50% 0;
      top: 50%;
      margin-top: -30px;
    }

}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide img {
  width: 100%;
  height: auto;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide:not(:first-child) {
  /* border-left: 1px dotted #ccc; */
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide > span {
  display: block;
  padding: 8px 10px 7px;
  font-size: 0.875rem;
  border-top: 1px solid #a2a2a2;
  background-color: #fafafa;
  z-index: 5;
  position: relative;
  
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-right: -1px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide[data-slick-index="0"] > span {
  border-left: none;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide[data-slick-index="5"] > span {
  border-right: none;
  top: 0;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide:not([data-slick-index="5"]) > span {
  position: absolute;
  top: 342px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide:not([data-slick-index="0"]):before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #bbb;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide.slick-current:before {
  opacity: 0;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide.slick-current > span {
  border-left: none;
}

div.main-content.row .left-guest-side div.constituents-coalition-story div.slick-slide > div.copy {
  padding: 8px 10px 3px;
  font-size: 0.875rem;
  opacity: 0;
}

div.main-content.row .left-guest-side div.first-info {
  margin-top: -80px; 
  display: block; 
  z-index: 4; 
  position: relative;
}

@media screen and (max-width: 64.07rem){
  div.main-content.row .left-guest-side img.primary {
    max-width: 100%;
  }
  div.main-content.row .left-guest-side div.first-info {
    margin-top: -25px; 
  }
}