div.main-body {
  position: relative;
}

div.main-body > div.main-subheader {
  z-index: 10;
  position: relative;
}

body.logged_in div.main-body > #bgImgOverlay {
  display: none;
}


/** Subheader Messages, etc. **/

div.main-subheader h4 {
  border-bottom: 1px dotted rgba(0,0,0,0.7);
  padding-bottom: 7px;
}

div.main-content.row .left-guest-side div.intro-section {
  padding: 16px 27px 17px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.25);
  margin-bottom: 18px;
}

div.main-content.row .left-guest-side div.intro-section p {
  font-size: 1.125rem; 
}
div.main-content.row .left-guest-side div.intro-section p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 1719px) {
  
  .show-for-xlarge-only,
  .hide-for-large-down,
  .hide-for-large {
    display: none !important;  
  }

}

div.main-content.row .left-guest-side div.menu-label {
  list-style: none; 
  padding: 0.8rem 2rem 0; 
  font-size: 1.2rem;
}

div.main-content.row .left-guest-side ul.menu-front-tabs li a h5 {
  margin: 0;
}

div.main-content.row .left-guest-side div#main-tab-content > section.content {
  background: #fff;
  padding-left: 24px;
  padding-right: 24px;  
  padding-top: 18px;
}

div.main-content.row .left-guest-side img.primary {
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4 {
  height: 421px;
  padding-bottom: 5px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story:last-child .medium-4 {
  height: 488px;
  padding-bottom: 2px;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4:not(:first-child) {
  border-left: 1px dotted #ccc;
}

div.main-content.row .left-guest-side div.constituents-coalition-story:not(:first-child) .medium-4 {
  border-top: 1px dotted #ccc;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4 img {
  display: block;
}

div.main-content.row .left-guest-side div.constituents-coalition-story .medium-4 > span {
  display: block;
  padding: 8px 10px 3px;
  font-size: 0.875rem;
  border-top: 1px solid #a2a2a2;
}

div.main-content.row .left-guest-side div.first-info {
  margin-top: -80px; 
  display: block; 
  z-index: 4; 
  position: relative;
}

@media screen and (max-width: 64.07rem){
  div.main-content.row .left-guest-side img.primary {
    max-width: 100%;
  }
  div.main-content.row .left-guest-side div.first-info {
    margin-top: -25px; 
  }
}

ins {
  background-color: rgb(192, 255, 192);
  text-decoration: none;
}

del {
  background-color: rgb(255, 206, 192);
}
