/**
 * Style Overrides for Foundation
 * 
 * All styles here target elements which are affected or originally styled by Foundation.
 * This is meant as separation of "overall" layout CSS, which is in global.css and would likely be same regardless of Foundation,
 * and this "widget style" CSS, which builds on top of Foundation styles or depends on it.
 */
 
 
 /** Fonts **/
 
 body { 
   font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }
 
 
 .top-bar-section ul li>a {
   font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-family: Junction, SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }

/** Buttons **/

.button.super-tiny {
  margin-bottom: 0;
  padding: 6px 16px;
  font-size: 0.6875rem;
}

/** Lists **/

ul.inline-list > li > a {
  display: inline;
}

ul {
  font-size: 1em; /** Preserve parent elements' font size **/
}