/**
 * Style Overrides for Foundation
 * 
 * All styles here target elements which are affected or originally styled by Foundation.
 * This is meant as separation of "overall" layout CSS, which is in global.css and would likely be same regardless of Foundation,
 * and this "widget style" CSS, which builds on top of Foundation styles or depends on it.
 */
 
 /** Layout **/
 
 /** Larger Width layout **/
 @media screen and (min-width: 1240px) {
   .row {
     max-width: 1200px;
   }
 }
 
@media screen and (min-width: 1720px) {
  .row {
    max-width: 1500px;
  }
   
  .xlarge-1  { width: 8.33333%; } 
  .xlarge-2  { width: 16.66667%; }
  .xlarge-3  { width: 25%; }
  .xlarge-4  { width: 33.33333%; }
  .xlarge-5  { width: 41.66667%; }
  .xlarge-6  { width: 50%; }
  .xlarge-7  { width: 58.33333%; }
  .xlarge-8  { width: 66.66667%; }
  .xlarge-9  { width: 75%; }
  .xlarge-10 { width: 83.33333%; }
  .xlarge-11 { width: 91.66667%; }
  .xlarge-12 { width: 100%; }
   
 }
 
/** Enable mini-columns version **/

@media only screen and (min-width: 64.063em){
  .row.small-columns > .columns {
    padding-right: 5px;
    padding-left: 5px;
  }
}

  .row.small-columns {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.small-columns > .columns {
    padding-right: 5px;
    padding-left: 5px;
  }

 
 /** Fonts **/
 
 body { 
   font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }
 
 
 .top-bar-section ul li>a {
   font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-family: Junction, SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }

/** Buttons **/

.button.super-tiny {
  margin-bottom: 0;
  padding: 0 16px;
  height: 24px;
  line-height: 24px;
  font-size: 0.6875rem;
}

.button, button {
  font-family: SansPro, Roboto, Helvetica, Arial, sans-serif;
  background-color: #5897fb;
}

.button.page-shadow, 
button.page-shadow {
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.25);  
}

.button.page, 
button.page {
  background-color: #f4f4f4;
}

button.page:hover, button.page:focus, 
.button.page:hover, .button.page:focus {
  background-color: #bababa;
}

button[disabled].page, button[disabled].page, 
.button.page.disabled, .button.page.disabled {
  background-color: #ECEEF5;
}

/** Forms **/

input[type="text"], input[type="password"], input[type="date"], 
input[type="datetime"], input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea {
  border-color: #bbb;
}

/** Select2 Dropdowns, to Match Foundation **/

.select2-container--default .selection .select2-selection {
  height: 2.3125rem;
  padding: 0.275rem;
  border-radius: 0px;
  border-color: #bbb;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.select2-container--default .selection .select2-selection.radius {
  border-radius: 3px;
}
.select2-container--default .selection .select2-selection .select2-selection__arrow {
  height: 2.25rem;
  padding-right: 2.25rem;
}

/** Form Errors **/

[data-abide] .error small.error, 
[data-abide] .error span.error,
[data-abide] span.error, 
[data-abide] small.error {
  padding-bottom: .375rem;
  color: #c60f13;
  background: transparent;
  padding-left: 0;
  margin-bottom: 5px;
}

/** Lists **/

ul.inline-list > li > a {
  display: inline;
}

ul {
  font-size: 1em; /** Preserve parent elements' font size **/
}

/** Alerts **/

.alert-box {
  padding-bottom: 12px;
}

.alert-box .close {
  margin-top: -0.4875rem;
}

.alert-box.info {
  background-color: #F2F2F2;
  border-color: #A5A5A5;
}

/** Top bar **/

  
  .top-bar-section li:not(.has-form) a:not(.button),
  .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button),
  .top-bar-section .dropdown li a  {
    background: inherit;
  }
  
  nav.top-bar ul li:not(.has-form):not(.active):not(.menu-icon) a:not(.button):hover,
  .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button),
  .top-bar-section li:not(.has-form) a:not(.button):hover,
  .top-bar li.has-dropdown.hover > a,
  .top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section ul li:hover:not(.has-form):not(.hover) > a  { 
    background: #222;
    background: rgba(0,0,0,0.33);
  }



/** Opentip **/

div.opentip .ot-header h1 {
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3px;
  
}
