/**
 * Style Overrides for Foundation
 * 
 * All styles here target elements which are affected or originally styled by Foundation.
 * This is meant as separation of "overall" layout CSS, which is in global.css and would likely be same regardless of Foundation,
 * and this "widget style" CSS, which builds on top of Foundation styles or depends on it.
 */
 
 /** Layout **/
 
 @media screen and (min-width: 1240px) {
   .row {
     max-width: 1200px;
   }
 }
 
 /** Fonts **/
 
 body { 
   font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }
 
 
 .top-bar-section ul li>a {
   font-family: SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }
 
 h1, h2, h3, h4, h5, h6 {
   font-family: Junction, SansPro, "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 }

/** Buttons **/

.button.super-tiny {
  margin-bottom: 0;
  padding: 6px 16px;
  font-size: 0.6875rem;
}

.button, button {
  font-family: SansPro, Roboto, Helvetica, Arial, sans-serif;
  background-color: #5897fb;
}

/** Forms **/

input[type="text"], input[type="password"], input[type="date"], 
input[type="datetime"], input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], 
input[type="url"], input[type="color"], textarea {
  border-color: #bbb;
}

/** Select2 Dropdowns, to Match Foundation **/

.select2-container--default .selection .select2-selection {
  height: 2.3125rem;
  padding: 0.2rem;
  border-radius: 0px;
  border-color: #bbb;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.select2-container--default .selection .select2-selection.radius {
  border-radius: 3px;
}
.select2-container--default .selection .select2-selection .select2-selection__arrow {
  height: 2.25rem;
  padding-right: 2.25rem;
}

/** Form Errors **/

[data-abide] .error small.error, 
[data-abide] .error span.error,
[data-abide] span.error, 
[data-abide] small.error {
  padding-bottom: .375rem;
}

/** Lists **/

ul.inline-list > li > a {
  display: inline;
}

ul {
  font-size: 1em; /** Preserve parent elements' font size **/
}

/** Alerts **/

.alert-box {
  padding-bottom: 12px;
}

.alert-box .close {
  margin-top: -0.4875rem;
}