div.main-body {
  position: relative;
}

div.main-body > div.main-subheader {
  z-index: 10;
  position: relative;
}

body.logged_in div.main-body > #bgImgOverlay {
  display: none;
}

div.main-content.row .left-guest-side {
  margin-bottom: 3px;
}

/** Top Header Adjustment **/

nav.top-bar {
  height: 4em;
}

nav.top-bar ul.title-area li.name {
  height: 4em;
}

nav.top-bar ul.title-area li.name h1 a {
  line-height: 4.125rem;
  min-width: 172px !important;
}

nav.top-bar ul.title-area li.name h1 a span.text {
  font-size: 1.52rem;
}

nav.top-bar ul.title-area li.name h1 a img {
  height: 42px !important;
  width: 42px !important;
  margin-top: -4px;
}

body:not(.logged_in) nav.top-bar ul.right {
  margin-top: 12px;
  margin-right: 14px;
}

body:not(.logged_in) nav.top-bar ul.right > li {
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.125);
}

body:not(.logged_in) nav.top-bar ul.right > li:first-child {
  border-left: 1px solid rgba(0,0,0,0.25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body:not(.logged_in) nav.top-bar ul.right > li:last-child {
  border-right: 1px solid rgba(0,0,0,0.25);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body:not(.logged_in) nav.top-bar .top-bar-section ul.right > li > a {
  background: transparent;
  border-radius: inherit;
  line-height: 2.4rem;
}

body.logged_in nav.top-bar .top-bar-section ul.right > li > a {
  line-height: 4rem;
}

body.logged_in nav.top-bar .top-bar-section ul.right > li.has-dropdown > a:after {
  margin-top: 7.5px;
}

body:not(.logged_in) nav.top-bar .top-bar-section ul.right > li:not(.has-dropdown) > a {
  border-radius: inherit;
}

body:not(.logged_in) nav.top-bar .top-bar-section ul.right > li.has-dropdown > a:after {
  margin-top: -4.5px;
}

.top-bar .login-block {
  margin-top: 12px;
}

nav.top-bar ul li:not(.has-form):not(.active):not(.menu-icon) a:not(.button):hover, 
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button), 
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar li.has-dropdown.hover > a, 
.top-bar-section ul li:hover:not(.has-form) > a, 
.top-bar-section ul li:hover:not(.has-form):not(.hover) > a, 
body nav.top-bar .top-bar-section ul.right > li:hover > a {
  background-color: rgb(28, 44, 49);
}

/** Subheader Messages, etc. **/

div.main-subheader h4 {
  border-bottom: 1px dotted rgba(0,0,0,0.7);
  padding-bottom: 7px;
}

div.main-content.row .left-guest-side img.primary {
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
}

div.main-content.row div.first-info {
  margin-top: -80px; 
  display: block; 
  z-index: 4; 
  position: relative;
}

@media screen and (max-width: 64.07rem){
  div.main-content.row img.primary {
    max-width: 100%;
  }
  div.main-content.row div.first-info {
    margin-top: -25px; 
  }
}


ins {
  background-color: rgb(192, 255, 192);
  text-decoration: none;
}

del {
  background-color: rgb(255, 206, 192);
}

/** Title **/

h4#main_issues_title #topic_title_section #topic_title {
  font-size: .875em;
}

h4#main_issues_title #topic_title_section a {
  color: inherit;
}

h4#main_issues_title #topic_title_section a:hover {
  opacity: 0.5;
}
